html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

pre {
    white-space: pre-wrap; /* Wrap long lines */
    word-wrap: break-word; /* Break long words */
    margin: 0; /* Remove default margin */
    background: #f8f9fa; /* Light background for better visibility */
    padding: 1rem; /* Padding for the pre element */
    border: 1px solid #ddd; /* Border around the pre element */
    border-radius: 0.25rem; /* Rounded corners */
}

code {
    font-family: monospace; /* Monospace font for code */
}